:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --black: #000000;
  --darkmode-bg: #0d1117;
  --darkmode-text: #c9d1d9;
  --darkmode-alt-text: #ebeff2;
  --darkmode-tag-bg-color: #06090f;
  --darkmode-tag-color: #58a6ff;
}

* {
  box-sizing: border-box;
}

body,html{
  margin:0;
  width:100%;
}

.content {
  max-width:750px;
  min-height:100vh;
  width:100%;
  margin: auto;
  box-sizing:border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;;
  color: var(--black);
  background-color: var(--white);
  /*transition: background-color 300ms ease-in-out 0s;*/
}
body.dark-mode {
  color: var(--darkmode-text);
  background-color: var(--darkmode-bg);
}

.dark-mode img {
  filter: grayscale(30%);
}

p:last-child {
  margin-bottom: 0;
}

p {
  text-align: justify;
}

p,
.tmpl-post li {
  max-width: 50em; /* 600px /16 */
}

p,
.tmpl-post li {
  line-height: 1.45;
}

a[href] {
  color: var(--blue);
}

a[href]:visited {
  color: var(--navy);
}
body.dark-mode a[href],
body.dark-mode a[href]:visited {
  color: var(--darkmode-text);
}

main {
  padding: 1rem;
}

main :first-child {
  margin-top: 0;
}

header {
  border-bottom: 1px dashed var(--lightgray);
}

header:after {
  content: "";
  display: table;
  clear: both;
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
  max-width: 50em;
  font-size: 14px;
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}

.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}

.highlight-line-add {
  background-color: #45844b;
}

.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
}

.nav-item-right {
  display: inline-block;
  float: right;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item {
  counter-increment: start-from -1;
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}

body.dark-mode .postlist-date,
body.dark-mode .postlist-item:before {
  color: var(--darkmode-text);
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}

.tmpl-home .postlist-link {
  font-size: 1em;
  font-weight: 700;
}

.tmpl-home .postlist-recent-link {
  font-size: 1.75em; /* 19px /16 */
  font-weight: 600;
  text-decoration-line: none;
}

.tmpl-home .recents-wrapper {
  max-width: 50em;
}

.tmpl-home .recents-title-divider {
  border: 0.5px solid lightgrey;
  margin-bottom: 2em;
}

.tmpl-home .recents-end-divider {
  border: 0.5px solid black;
  margin-bottom: 2em;
}

body.dark-mode .tmpl-home .recents-end-divider,
body.dark-mode .tmpl-home .recents-title-divider {
  border: 0.5px solid var(--darkmode-text);
  margin-bottom: 2em;
}

.recents-description {
  margin-top: 2em;
  text-align: left;
}

.recents-datetime {
  padding-top: 0.5em;
  font-size: 1em;
}

.recents-readmore {
  margin-bottom: 1em;
}

/* .recents-datetime a[href] {
  color: black;
} */
.post-heading {
  font-size: 1.75em;
  font-weight: 600;
}

.post-taglist {
  margin-top: 0.5em;
}

.post-content {
  margin-top: 2em;
}

.post-end-divider {
  border: 0.5px solid black;
  margin-bottom: 1em;
  margin-top: 1em;
  max-width: 50em;
}

.dark-mode .post-end-divider {
  border: 0.5px solid var(--darkmode-text);
}

.post-title-divider {
  border: 0.5px solid darkgray;
  margin-bottom: 1em;
  margin-top: 1em;
  max-width: 50em;
}

img {
  height: auto;
  max-width: 100%;
}

.footer-divider {
  border: 0.5px solid #ededed;
  margin-bottom: 1em;
  margin-top: 1em;
  max-width: 50em;
}

.footer {
  /*margin-top: 2em;*/
  text-align: left;
  padding: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px; /* Height of the footer */
  font-size: 14px;
  color: #adadad;
}


/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}

a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}

body.dark-mode .post-tag,
body.dark-mode a[href].post-tag,
body.dark-mode a[href].post-tag:visited {
  color: var(--black);
  background-color: var(--darkmode-tag-color);
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}

.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

.footer-external-links {
  color: #adadad !important;
  font-size: 14px !important;
}
