<hr class="post-title-divider" align="left">
<table>
    {% for post in postslist | reverse %}

        <tr>
            <td>
                <time class="postlist-date"
                      datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateStringSlashed }}</time>
            </td>
            <td><a href="{{ post.url | url }}"
                   class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}
                        <code>{{ post.url }}</code>{% endif %}</a>
            </td>
        </tr>
    {% endfor %}
</table>
