{% for post in postslist | reverse %}
  <div class="recents-wrapper">
    <a href="{{ post.url | url }}" class="postlist-recent-link">
      {% if post.data.title %}{{ post.data.title }}
      {% else %}
        <code>{{ post.url }}</code>
      {% endif %}
    </a>
    <div class="recents-datetime">by {{ metadata.author.name }} on
      <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </div>
    <div class="recents-description">{{ post | excerpt | safe }}</div>
    <div class="recents-readmore">
      <a href="{{ post.url | url }}">Continue reading...</a>
    </div>
    <hr class="recents-end-divider" align="left">
  </div>
{% endfor %}
