<!doctype html>
<html lang="en">
<head>
  {% if ignore %}
    <meta name="robots" content="noindex"/>
  {% endif %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or title or metadata.description }}">
  <!-- capture the CSS content as a Nunjucks variable and feed it through our cssmin filter to minify-->
  {% set css %}
    {% include "css/index.css" %}
    {% if prism %}
      {% include "css/prism-okaidia.css" %}
    {%  endif %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml"
        title="{{ metadata.title }}">
  <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json"
        title="{{ metadata.title }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="manifest" href="/img/site.webmanifest">
  <!-- Disable Tracking on dev environment -->
  {% if env.isProd %}
    {# Check if google analytics tracking is enabled #}
    {% if env.tracking.google %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ env.tracking.gtag }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ env.tracking.gtag }}');
      </script>
    {% endif %}
    {# Check if Umami tracking is enabled #}
    {% if env.trackung.umami %}
      <script async defer data-website-id="8716cda6-50d4-4b35-a647-840ef04f5718"
              src="/js/umami.js" data-host-url="https://umami-mk.herokuapp.com"></script>
    {% endif %}
  {% endif %}
</head>
<body class="">
<div class="content">
  <header>
    <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
    <span class="nav-item-right">
      <img id="color-scheme-toggle" src="/img/dark.svg" alt="toggle dark mode" width="16px" />
    </span>
    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a
            href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
    </ul>
  </header>
  {% set darkmodejs %}
    {% include "js/dark-mode.js" %}
  {% endset %}
  <script>
    {{ darkmodejs | safe }}
  </script>

  <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

    {{ content | safe }}
  </main>

  <!-- Current page: {{ page.url | url }} -->
</div>
</body>
<style>
  pre[class*="language-"] {
    font-size: 1em;
    max-width: 50em;
  }
</style>
</html>
