---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="post-heading">{{ title }}</div>

<hr class="post-title-divider" align="left">

<div class="post-content">
  {{ content | safe }}
</div>
