---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="post-heading">{{ title }}</div>

{% if tags %}
    <div class="post-taglist">tags:{% for tag in tags %}
        {%- if collections.tagList.indexOf(tag) != -1 and tag != "recents" and tag!= "shorts" -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
        {%- endif -%}
        {% endfor %}
    </div>
{% endif %}

<hr align="left" class="post-title-divider">

<div class="post-content">
    {{ content | safe }}
</div>

<hr align="left" class="post-end-divider">

<div class="between-posts-navigation">
  {%- set previousPost = collections.recents | getPreviousCollectionItem(page) %}
  {%- if previousPost %}
    <span class="footer-previous">
      <a href="{{ previousPost.url | url }}">&larr; {{ previousPost.data.title }}</a>
    </span>
  {% endif %}

  {%- set nextPost = collections.recents | getNextCollectionItem(page) %}
  {%- if nextPost %}
    <span class="footer-next">
      <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }} &rarr;</a>
    </span>
  {% endif %}
</div>
