---
layout: layouts/base.njk
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 300
---

<div class="projects">
<p> These are some of my projects on GitHub you might be interested in: </p>
{{ "manojkarthick/pqrs" | githubInfo | safe }}
{{ "manojkarthick/reddsaver" | githubInfo | safe }}
{{ "manojkarthick/git-trend" | githubInfo | safe }}
{{ "manojkarthick/expenses" | githubInfo | safe }}
{{ "manojkarthick/amalgam" | githubInfo | safe }}
{{ "manojkarthick/github-upload-asset" | githubInfo | safe }}
{{ "manojkarthick/czen" | githubInfo | safe }}
{{ "manojkarthick/macos-universal-binary-action" | githubInfo | safe }}
{{ "manojkarthick/boxes" | githubInfo | safe }}
{{ "manojkarthick/blog" | githubInfo | safe }}
{{ "manojkarthick/see-hear" | githubInfo | safe }}
{{ "manojkarthick/rightfluencer" | githubInfo | safe }}
{{ "manojkarthick/PCRegression" | githubInfo | safe }}
</div>

<hr align="left" class="post-end-divider">
Last updated: {% buildDateTime %}
