---
layout: layouts/base.njk
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 500
---

<div class="cards">
  <p> These are some of my projects on GitHub: </p>


  <div class="gh-card">
    <a href="https://github.com/manojkarthick/reddsaver"><img
        src="https://gh-card.dev/repos/manojkarthick/reddsaver.svg"></a>
  </div>
  <div class="gh-card">
    <a href="https://github.com/manojkarthick/expense-log"><img
        src="https://gh-card.dev/repos/manojkarthick/expense-log.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/dotfiles"><img src="https://gh-card.dev/repos/manojkarthick/dotfiles.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/git-trend"><img
        src="https://gh-card.dev/repos/manojkarthick/git-trend.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/PCRegression"><img
        src="https://gh-card.dev/repos/manojkarthick/PCRegression.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/comictose"><img
        src="https://gh-card.dev/repos/manojkarthick/comictose.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/OnBook"><img src="https://gh-card.dev/repos/manojkarthick/OnBook.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/linkdump"><img src="https://gh-card.dev/repos/manojkarthick/linkdump.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/see-hear"><img src="https://gh-card.dev/repos/manojkarthick/see-hear.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/rightfluencer"><img
        src="https://gh-card.dev/repos/manojkarthick/rightfluencer.svg"></a>
  </div>

</div>


