---
layout: layouts/base.njk
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 300
---

<div class="cards">
  <p> These are some of my projects on GitHub: </p>


  <div class="gh-card">
    <a href="https://github.com/manojkarthick/reddsaver"><img
        src="/img/reddsaver.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/git-trend"><img
        src="/img/git-trend.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/expenses"><img
        src="/img/expenses.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/pqrs"><img
        src="/img/pqrs.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/github-upload-asset"><img
        src="/img/github-upload-asset.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/blog"><img
        src="/img/blog.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/PCRegression"><img
        src="/img/PCRegression.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/dotfiles"><img
        src="/img/dotfiles.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/comictose"><img
        src="/img/comictose.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/OnBook"><img
        src="/img/OnBook.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/linkdump"><img
        src="/img/linkdump.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/see-hear"><img
        src="/img/see-hear.svg"></a>
  </div>

  <div class="gh-card">
    <a href="https://github.com/manojkarthick/rightfluencer"><img
        src="/img/rightfluencer.svg"></a>
  </div>

</div>


